.brand {
  color: #a1e3ff;
  margin: 3px;
  font-size: 20px;
  margin-left: 2%;
}
.span-text {
  font-size: 14px;
}
#top-nav {
  background-color: #244580;
}
#left-col {
  background-color: #2a6680;
  border: 1px solid black;
  font-family: "Squada One";
  height: 100vh;
}
#center-col {
  background-color: #a1e3ff;
}
#right-col {
  background-color: #44a3cc;
}
.column-head-r {
  margin: 2%;
  color: #a1e3ff;
  text-decoration: underline;
}
.column-head-c {
  color: #2a6680;
  margin: 2%;
  border: 1px solid white;
  text-decoration: underline;
}
.column-head-l {
  margin-top: 5%;
  margin-left: 2%;
  color: #a1e3ff;
  text-decoration: underline;
}
.contact {
  margin: 2%;
  color: #a1e3ff;
  font-size: 130%;
}

a {
  color: #a1e3ff;
}
a:hover {
  color: #fff196;
}
#jb:hover {
  color: #a1e3ff;
  text-decoration: none;
}

#picture {
  height: 250px;
  width: 90%;
  background-color: gray;
  margin: 2%;
  border: 2px solid black;
  max-width: 200px;
}
.card {
  background-size: cover;
  height: 200px;
  width: 40%;
}
.card a {
  position: absolute;
  bottom: 5%;
  width: 100%;
  opacity: 50%;
}
.card a:hover {
  color: #fff196;
  opacity: 80%;
}
.btn {
  background-color: #2a6680;
}
.btn:hover {
  background-color: #2a6680;
}
.weather {
  background-image: url("weather_pic.png");
}

.password {
  background-image: url("password.png");
}
.food {
  background-image: url("food_finder.png");
}
